<tr id="team_row_<%= team.id %>" class="slideInRight" data-behavior="filterable">
  <td data-behavior="searchable">
    <%= team.name %>
  </td>
  <td data-behavior="searchable">
    <%= team.race.name %>
  </td>
  <td>
    <div class="form-check">
      <section class="slider-checkbox">
<!--        <input type="checkbox"<%#= ' checked=1' if team.active? %>>-->
        <%= check_box_tag 'active', team.id, team.active?,
                          data: {
                              remote: true,
                              url: toggle_team_path(team.id),
                              method: 'POST'
                          } %>
        <label class="label"></label>
      </section>
    </div>
  </td>
  <td>
    <div class="form-check">
      <%= link_to 'Edit', edit_team_path(team), remote: true, class: "btn btn-outline-primary" %>
    </div>
  </td>
  <td>
    <%= team.total_score %>
  </td>
</tr>