<tbody id="table-list-<%= table.id %>" class="table-list-body slideInRight" data-behavior="filterable">
<tr id="table_row_<%= table.id %>">
  <th rowspan=2 scope="row" class="text-center align-middle">
    <%= link_to table.position, edit_table_path(table),
                remote: true,
                class: "btn
                        btn#{table.complete? ? '' : '-outline' }-dark
                        btn-lg
                        #{table.round.try(:last?) ? '' : ' disabled'} " %>
  </th>
  <% table.scores.each_with_index do |score, i| %>
    <% unless i == 0 %>
    <tr id="table_row_<%= table.id %>_5">
  <% end %>
  <td data-behavior="searchable">
    <%= score.team.name %>
  </td>
  <td data-behavior="searchable" class="hide">
    <%= table.position %>
  </td>
  <td class="text-center">
    <%= score.td %>
  </td>
  <td class="text-center">
    <%= score.cas %>
  </td>
  <td class="text-center">
    <%= score.score if table.complete? %>
  </td>
  <% unless i == 0 %>
    </tr>
  <% end %>
<% end %>
</tr>
</tbody>