<div class="row">
  <div class="page-header m-3 col-md-10 col-sm-12">
    <h1>Round <%= @round.position %></h1>
  </div>

</div>
<% if @round.last? %>
  <div class="row text-center">
    <div class="col-2 offset-9">
      <div class="btn-group" role="group">
        <%= link_to 'Reset', reset_round_path(@round),
                    method: :post,
                    remote: true,
                    class: "btn btn-info",
                    data: { confirm: "Clear round #{@round.position} results?" } %>
        <%= link_to 'Redraw', redraw_round_path(@round),
                    method: :post,
                    remote: true,
                    class: "btn btn-warning",
                    data: { confirm: "Clear round #{@round.position} results and redraw?" } %>
        <%= link_to 'Delete', round_path(@round),
                    method: :delete,
                    class: "btn btn-danger",
                    data: { confirm: "Delete round #{@round.position}?" } %>
      </div>
    </div>

  </div>
<% end %>

<input type="text" id="teamFilterSearch" placeholder="Search for names..">

<div class="table-responsive-lg m-xl-4 m-lg-4 m-sm-1 m-xs-1">
  <table class="table table-sm table-striped-couplets table-bordered" id="teams-list">
    <thead class="thead-light">
    <tr>
      <th scope="col">Table</th>
      <th scope="col">Team</th>
      <th scope="col">Touchdowns</th>
      <th scope="col">Casualties</th>
      <th scope="col">Score</th>
    </tr>
    </thead>
    <% @tables.each do |table| %>
    <tbody id="table-list-<%= table.id %>" data-behavior="searchable">
      <%= render 'rounds/row', table: table %>
    </tbody>
    <% end %>
  </table>
</div>
