<%= form_with(model: tournament, local: true) do |form| %>
  <%= render 'shared/errors', obj: tournament %>
  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control col-lg-4 col-xl-5" %>
  </div>
  <div class="form-group">
    <%= form.label :active %>
    <%= form.check_box :active, { class: "form-control col-lg-4 col-xl-5" }, "1", "0" %>
  </div>
  <div class="form-group">
    <%= form.label :desc, "Tournament description" %>
    <%= form.text_area :desc, class: "form-control col-lg-4 col-xl-5" %>
  </div>
  <div class="form-group">
    <div class="col-xl-5 col-lg-4 m-0 p-0">
      <div class="row m-0 p-0">
        <div class="col-lg-5 m-0 p-0">
          <%= form.label :start_date %>
          <%= form.date_field :start_date,
                              min: Date.today,
                              # value: tournament.start_date.strftime("%d/%m/%Y"),
                              class: "form-control text-center" %>
        </div>
        <div class="col-lg-2 m-0 p-0">

        </div>
        <div class="col-lg-5 m-0 p-0">
          <%= form.label :end_date %>
          <%= form.date_field :end_date,
                              min: tournament.start_date,
                              # value: end_date.strftime("%d/%m/%Y"),
                              class: "form-control text-center" %>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <%= form.label :wincalc, "Win calculation" %>
    <%= form.text_field :wincalc, class: "form-control col-lg-4 col-xl-5" %>
  </div>
  <div class="form-group">
    <%= form.label :drawcalc, "Draw calculation" %>
    <%= form.text_field :drawcalc, class: "form-control col-lg-4 col-xl-5" %>
  </div>
  <div class="form-group">
    <%= form.label :losecalc, "Loss calculation" %>
    <%= form.text_field :losecalc, class: "form-control col-lg-4 col-xl-5" %>
  </div>
  <div class="form-group">
    <%= form.label :concedecalc, "Concede calculation" %>
    <%= form.text_field :concedecalc, class: "form-control col-lg-4 col-xl-5" %>
  </div>
  <h3 id="Tiebreakers"><%= form.label :tiebreaker, "Tiebreakers" %></h3>
  <div class="container pull-left col-12">
    <div class="col-3" id="tiebreaker-list-ro">
      <% tournament.tiebreaker.each do |tie| %>
        <%= render 'tiebreakers', tie: tie, ro: true %>
      <% end %>
    </div>
      <div class="form-group col-3">
        <%= link_to t('.edit_tiebreakers', default: 'Edit tiebreakers'), tiebreakers_edit_tournament_path(tournament), remote: true, class: "btn btn-outline-primary" %>
      </div>
  </div>

  <%= form.submit class: "btn btn-primary" %>
<% end %>
