<!--<p id="notice"><%#= notice %></p>-->
<div class="page-header text-center">
  <h1><%= Tournament.model_name.human.pluralize %></h1>
</div>
<div>
  <h3><%= t('.mine', default: 'My Tournaments') %></h3>
</div>
<%= render 'tournaments/card',
           tournaments: @tournaments.active.mine(current_user),
           theme: 'success' %>
<div>
  <h3><%= t('.active', default: 'Active') %></h3>
</div>
<%= render 'tournaments/card',
           tournaments: @tournaments.active.current,
           theme: 'primary' %>
<div>
  <h3><%= t('.old', default: 'Active') %></h3>
</div>
<%= render 'tournaments/card', tournaments: @tournaments.active.old,
           theme: 'secondary' %>

<%#= link_to 'New Tournament', new_tournament_path %>
