
<p>
  <strong>Name:</strong>
  <%= @tournament.name %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @tournament.desc %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @tournament.slug %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @tournament.start_date %>
</p>

<p>
  <strong>Active:</strong>
  <%= @tournament.active %>
</p>

<%= link_to 'Edit', edit_tournament_path(@tournament) %> |
<%= link_to 'Back', tournaments_path %>
