<!DOCTYPE html>
<html>
  <head>
    <title>Rankz</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag 'favicon.ico' %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="sidebar-mini">
  <div class="wrapper">

    <!-- Navbar -->
    <%= render 'layouts/navbar' %>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <%= render 'layouts/sidebar' %>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper bg-white">
      <%# flash.each do |name, msg| %>
        <%#= content_tag(:div, msg, class: "alert alert-info") %>
      <%# end %>
      <%= flash_messages %>
      <%= yield %>
    <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Control Sidebar -->
    <%= render 'layouts/control_sidebar' %>
    <!-- /.control-sidebar -->

    <!-- Main Footer -->
    <%= render 'layouts/footer' %>
  </div>
  <!-- ./wrapper -->

  <!-- REQUIRED SCRIPTS -->

  <!-- jQuery -->
  <script src="plugins/jquery/jquery.min.js"></script>
  <!-- Bootstrap 4 -->
  <script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- AdminLTE App -->
  <script src="dist/js/adminlte.min.js"></script>
  </body>
</html>
